@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300&family=Noto+Sans+Mono&family=Poppins:wght@300&family=Satisfy&display=swap');
        *{
            margin: 0px;
            font-family: poppins;
        }
        #logOut{
            position: fixed;
            bottom: 10px;
            right:   0px;
            padding: 10px 30px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 10px 20px;
        }
        #logOut:hover{
            cursor: pointer;
        }
        #navigation>div{
            display: flex;
            padding: 12px;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(198, 196, 196);
        }
        #navItems{
            display: flex;
            gap: 28px;
            font-size: 11.5px;
        }
        #navItems>h3:hover{
            cursor: pointer;
            color: green;
        }
        #icons{
            display: flex;
            gap: 15px;
        }
        #studioCollections>h3,#collections>h3{
            padding: 30px 0px 0px 20px;
        }
        #studioItems,#collectionItems{
            display: flex;
            width: 96%;
            gap: 14px;
            padding: 20px;
        }
        #zoot{
            padding: 25px 0px 25px 0px;
        }
        #workCharging{
            display: flex;
            width: 96%;
            padding: 22px;
            justify-content: space-between;
        }
        #ourStory{
            display: flex;
            width: 95%;
            padding: 30px;
        }
        #left{
            width: 100%;
            padding: 20px;
        }
        #right{
            width: 100%;
        }
        #storyContent{
            width: 70%;
            font-size: 16px;
        }
        .borderGray{
            border-top: 1px solid rgb(219, 217, 217);
            width: 100%;
           text-align: center;
           padding: 40px 0px 30px 0px;
        }
        .delivery{
            display: flex;
            gap: 30px;
            align-items: center;
        }
        #handler{
            display: flex;
            justify-content: center;
            gap: 60px;
            padding: 20px;
        }
        #emailHolder{
            padding: 20px;
        }
        #knowMore{
            display: flex;
        }
        #knowLeft{
            display: flex;
            width: 60%;
            text-align: left;
            justify-content: space-between;
            padding: 0px 40px 0px 40px;
        }
        #knowRight{
            width: 40%;
            text-align: left;
            padding: 0px 30px 0px 30px;
        }
        #knowRight>div{
            padding: 0px 20px 20px;
        }
        .borderGray>h3{
            padding-bottom: 20px;
        }
        #cases,#ers,#lets,#watchbands,#sleeves,#office{
            display: flex;
            text-align: left;
            justify-content: space-between;
            line-height: 30px;
            font-size: 12px;
        }
        #covers,#homeOffice,#staps,#bags,#wal,#oth{
            text-align: left;
            padding: 30px;
        }
        #covers>h4,#homeOffice>h4,#staps>h4,#bags>h4,#wal>h4,#oth>h4{
            margin-left: 38px;
        }
        #backpacksMenu{
            display: grid;
            padding: 20px;
            gap: 20px;
            grid-template-columns: repeat(4,1fr);
        }
        .bag_image{
            width: 100%;
        }
        .watch_image{
            width: 100%;
            height: 60%;
        }
        .bag_name{
            font-weight: lighter;
        }
        .bag_offer{
            color: red;
        }
        .itemView_temp{
            display: flex;
        }
        .itemView_name{
            padding: 30px 30px 0px 30px;
            font-weight: lighter;
        }
        .itemView_price{
            padding: 4px 30px 0px 30px;
            font-size: 26px;
        }
        .itemView_color{
            padding: 20px 30px 10px 30px;
            border-bottom: 3px solid rgb(213, 210, 210);
            color: #20a87e;
        }
        .itemView_right{
            width: 100%;
            padding: 60px;
        }
        .itemView_colorBar{
            display: flex;
            gap: 30px;
            padding: 20px 30px 30px 30px;
        }
        .firstColor,.secondColor,.thirdColor,.fourthColor{
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
        }
        .firstColor{
            background-color: black;
        }
        .secondColor{
            background-color: red;
        }
        .thirdColor{
            background-color: goldenrod;
        }
        .fourthColor{
            background-color: yellow;
        }
        .addToCart{
            width: 100%;
            height: 50px;
            font-size: 16px;
            background-color: #20a87e;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            font-weight: bolder;
            color: white;
            border: none;
        }
        .addToCart:hover{
            cursor: pointer;
        }
        .offers{
            color: red;
            padding: 20px 30px 0px 30px;
        }
        .discountCoupon{
            padding: 10px 30px 10px 30px;
        }
        .itemView_search{
            width: 93%;
            padding: 15px;
        }
        .itemView_desc{
            font-weight: lighter;
            padding: 30px;
        }
        #shoppingBag>h1{
            padding: 30px;
            text-align: center;
        }
        #cartMenu{
            display: flex;
        }
        #leftBox{
            width: 50%;
            height: 60vh;
            overflow: auto;
            padding:30px;
            line-height: 30px;
        }
        #rightBox{
            width: 50%;
            padding:30px;
        }
        #redeemGift{
            display: flex;
            padding: 20px;
            align-items: center;
            border-top: 1px solid rgb(217, 215, 215);
            border-bottom: 1px solid rgb(217, 215, 215);
            gap: 20px;
        }
        #coupons{
            display: flex;
            align-items: center;
            padding: 20px;
            border-top: 1px solid rgb(217, 215, 215);
            border-bottom: 1px solid rgb(217, 215, 215);
            gap: 20px;
        }
        .rightBoxCoupon{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(217, 215, 215);
        }
        #grand{
            display: flex;
            justify-content: space-between;
        }
        #orderSummary{
            padding: 30px;
            line-height: 50px;
        }
        #checkOut{
            width: 100%;
            font-weight: bolder;
            color: white;
            background-color: #20a87e;
            padding: 15px;
            border: none;
        }
        #checkout:hover{
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
        .cart_box{
            display: flex;
            padding: 20px;
            border-bottom: 2px solid rgb(212, 209, 209);
        }
        .cart_image{
            width: 30%;
        }
        .cart_productDetails{
            padding: 20px;
        }
        .cart_price{
            padding: 0px 10px 10px 10px;
        }

        .cart_name{
            padding: 10px;
        }
        .cart_removeButton{
            width: 100%;
            padding:6px;
            color: white;
            background-color: red;
            border: none;
            font-weight: bolder;
        }
        @media screen and (min-width:600px) and (max-width : 1200px){
            #backpacksMenu{
                display: grid;
                padding: 20px;
                gap: 20px;
                grid-template-columns: repeat(2,1fr);
            }
        }


        @media screen and (min-width:0px) and (max-width : 600px){
            #backpacksMenu{
                display: grid;
                padding: 20px;
                gap: 20px;
                grid-template-columns: repeat(1,1fr);
            }
        }